<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #AFC8A8;">
  <div class="container-fluid">
    <!-- Logo Section -->
    <a class="navbar-brand text-white title_area" style="font-size: 2em;" href="/">NEWTREES</a>

    <!-- Navbar Toggler for Mobile View -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links Section -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('actual_home') }}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRE-OWNED</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MARKETPLACE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CART</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/">SUPPORT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
