.container {
   display: flex;
   gap: 20px;
   margin-top: 18px;
}

.box {
   background-color: #b2d67c;
   padding: 20px;
   border-radius: 10px;
   width: 270px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   text-align: center;
}

.box p {
   margin: 5px 0;
   font-size: 18px;
   font-weight: bold;
}

.value {
   font-size: 30px;
   font-weight: bold;
}

.ratings-chart {
    width: 500px;
    height: 450px;
    margin-top: 10px;
}