/* Center the container and add a white background with padding */
.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 850px;
  margin: 40px auto;
}

.form-control {
  border-radius: 10px; /* Adjust the value as needed */
}

/* Center-align the text for the form heading */
.form-container h1,
.form-container p {
  text-align: center;
}

/* Arrange first and last name fields in one row */
.name-fields {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto; /* Remove default margin */
  gap: 20px;
}

/* Ensure both fields take up equal width */
.name-fields .form-group {
  flex: 1;
  margin-bottom: 0; /* Remove any extra bottom margin */
}

/* Keep other fields stacked */
.form-group {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 10px auto; /* Standard spacing for all other fields */
}


/* Style for the submit button */
.btn-primary {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  min-width: 400px;
}

.questrial-regular {
  font-family: "Questrial", serif;
  font-weight: 400;
  font-style: normal;
}

#message {
  height: 150px; /* Set the fixed height */
  resize: none;  /* Disable resizing */
}

.submit-button {
  width: 85%;
  border-radius: 15px;
  background-color: #6F8668;
  border: none;
  color: #FFF
}

.submit-button:hover{
  background-color: #4b5c46;
  border:none;
  color: #FFF;
}

footer {
  background-color: #AFC8A8; /* Soft green background */
  color: white;
  padding: 20px;
  margin-top: 20px;
  width: 100%; /* Make footer full width */
  align-items: center;
  font-size: 17px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.row-container {
  display: flex;
  gap: 40px; /* Adjust the spacing between address and hours */
  justify-content: center;
  flex-wrap: wrap;
}

.email, .phone-number {
  margin-bottom: 20px;
  color: #fff;
}

.image-wrapper {
  position: relative; /* Makes it the reference for absolute positioning */
  display: inline-block; /* Keeps the wrapper tight around images */
  transform-origin: center;
}

.main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.black-text p {
  color: black;
  margin-bottom: 0px;
}

footer {
    position: relative;
}

footer p.footer-title {
    position: absolute;
    top: 20px;
    left: 50px;
    font-family: "Libre Barcode 39 Text", sans-serif;
    font-size: 275%;
    color: white;
    margin: 0;
}
